<%= simple_form_for(@stamp, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Title %>
    <%= f.input :Description %>
    <%= f.input :Price %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %>
    <%= f.text_field :tag_list %>
  </div>

	<p>Image 1 (Main display picture)<br>
		<%=f.file_field :image %>
	</p>

  <p>Image 2<br>
    <%=f.file_field :image2 %>
  </p>

  <div>
    <%= f.input :notes %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
