<h3>Search All Stamps</h3>

<div id="search">
<%= form_tag stamps_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</div>

<hr>
<%= form_tag edit_multiple_stamps_path do %>
<table>
  <thead>
    <tr>
      <% if admin_signed_in? %>
      	<%= raw '<th></th>' %>
      <% end %>
      <th>Title</th>
      <th>Picture</th>
      <th>Price</th>
      <th>Categories</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stamps.reverse_each do |stamp| %>
      <tr>
      	<% if admin_signed_in? %>
      		<td><%= check_box_tag "stamp_ids[]", stamp.id %></td>
      	<% end %>
        <td><strong><h4><%= link_to stamp.Title, stamp %></h4></strong></td>
        <td><%= image_tag stamp.image.url :thumb %></td>
        <td><h4><%= number_to_currency(stamp.Price) %></h4></td>
        <td><h5><%= raw stamp.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %></h5></td>
        <td><%= link_to 'Show', stamp if admin_signed_in? %></td>
        <td><%= link_to 'Edit', edit_stamp_path(stamp) if admin_signed_in?  %></td>
        <td><%= link_to 'Destroy', stamp, method: :delete, data: { confirm: 'Are you sure?' } if admin_signed_in?   %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Edit Checked" if admin_signed_in? %>
<% end %>
<br>

<%= link_to 'New Stamp', new_stamp_path if admin_signed_in? %>

<br><br>
<hr>





