<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_stamp_path(@stamp) if admin_signed_in? %> 
<%= link_to 'Back', stamps_path if admin_signed_in? %>
<%= link_to 'New Stamp', new_stamp_path if admin_signed_in? %>
<%= link_to 'Duplicate Stamp', new_stamp_path if admin_signed_in? %>

<p>
  <h2><u><%= @stamp.Title %></u></h2>
</p>

<br/>
<%= image_tag @stamp.image.url %>
<%= image_tag @stamp.image2.url if @stamp.image2.url !=  "/images/original/missing.png"  %>
<%= image_tag @stamp.image3.url if @stamp.image3.url !=  "/images/original/missing.png"  %>
<%= image_tag @stamp.image4.url if @stamp.image4.url !=  "/images/original/missing.png"  %>
<%= image_tag @stamp.image5.url if @stamp.image4.url !=  "/images/original/missing.png"  %>
<br/><br/>

<p>
  <strong>Description:</strong><br/>
  <%= @stamp.Description %>
</p>

<p>
  <strong>Price:</strong><br/>
  <%= number_to_currency(@stamp.Price) %>
</p>

<p>
  <strong>Terms of Sale:</strong><br/>
  The terms of sale go here.
</p>

<p>
  <strong>Categories:</strong><br/>
  <%= raw @stamp.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %>
</p>

<p>
  <% if admin_signed_in? %>
    <strong>Notes:</strong><br/>
    <%= @stamp.notes if admin_signed_in? %>
  <% end %>
</p>

<br>

<!-- delete the 'sandbox' from this url in production-->
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

<!-- Identify your business so that you can collect the payments. -->
<input type="hidden" name="business" value="sellerfrank2@stamps.com">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="item_name" value="<%= @stamp.Title %>">
<input type="hidden" name="amount" value="<%= @stamp.Price %>">
<input type="hidden" name="item_number" value="<%= @stamp.id %>">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="shopping_url" value="http://www.banknotestamps.com/">
<input type="hidden" name="notify_url" value="http://www.banknotestamps.com/">
<input type="image" name="submit" border="0"
src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
alt="PayPal - The safer, easier way to pay online">
<img alt="" border="0" width="1" height="1"
src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
</form>

<br>
<form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="sellerfrank2@stamps.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="<%= @stamp.Title %>">
<input type="hidden" name="amount" value="<%= @stamp.Price %>">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="button_subtype" value="products">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="add" value="1">
<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<br> 

<%= link_to 'Edit', edit_stamp_path(@stamp) if admin_signed_in? %> |
<%= link_to 'Back', stamps_path %> |
<%= link_to 'New Stamp', new_stamp_path if admin_signed_in? %>
